/* Header.css */

.header {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Add a semi-transparent overlay with increased opacity */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('S1.png'); /* Adjust the opacity values (0.6) to make it more dim */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black; /* Text color on top of the images */
}

button {
  background-color: #a17fac;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #005b80;
}
